.acordeonBody{
    width: 100%;
    border-bottom: 1px solid var(--color-primary);
    .acordeonTitle{
        width: 100%;
        background-color: transparent;
        border: 0px;
        cursor: pointer;
        text-align: left;
        font-size: 1.2vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--color-primary-light);
        font-family: "Cairo";
        .acordeonArrow{
            transition: transform 0.2s ease-in-out;
            transform: rotate(0deg);
            transform-origin: center center;
            width: 50px;
            height: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 2vw;
            line-height: 1;
            font-weight: 200;
        }
    }
    &.collapsed{
        .acordeonContent{
            height: auto;
            max-height: 0px;
            opacity: 0;
        }
    } 
    &.uncollapsed{
        .acordeonTitle{
            color: var(--color-accent);
            .acordeonArrow{
                transform: rotate(45deg);
            }
        }
        
        .acordeonContent{
            height: auto;
            max-height: 500px;
            opacity: 1;
        }
    }
    .acordeonContent{
        width: 100%;
        overflow: hidden;
        transition: 0.5s ease-out !important;
        p{
            font-size: var(--size-sm) !important;
            opacity: 0.8 !important;
            strong{
                color: inherit;
                font-weight: 600;
            }
        }
    }
}












@media (max-width: 1700px) {
    .acordeonTitle{
        font-size: 22px;
    }

    .acordeonArrow{
        font-size: 22px;
    }
}

@media (max-width: 650px){
    .acordeonTitle{
        font-size: 18px;
    }
}