/* Variables */

:root {

  /* Base color */
  --color-primary: #005d52;
  --color-secondary: #1D252C;
  --color-accent: #1eff9f;

  --color-primary-light: #00c08b;
  --color-secondary-light: #dee8e5;
  
  --color-primary-dark: #032526;
  --color-secondary-dark: #13181d;

  --color-white: #c6e5db;
  --color-black: #0c2425;

  /* Messages color */
  --color-success: #3ec43e;
  --color-error: #ff5151;
  --color-warning: #ffee00;

  /* Text sizes */
  --size-xs: 0.7vw;
  --size-sm: 0.9vw;
  --size-md: 1.2vw;
  --size-lg: 1.6vw;
  --size-xl: 2.2vw;
  --size-2xl: 3vw;
  --size-3xl: 4vw;
  --size-4xl: 5vw;

  /* Tipografías */
  --font-primary: primary;
  --font-secondary: primary;
}

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

html, body{
    width: 100%;
    overflow-x: hidden;
}


body {
    background-color: var(--color-secondary-light);
    color: var(--color-primary);
    text-decoration: none;
    font-family: "Cairo";
}

p, li {
  margin-bottom: 20px;
  line-height: 1.5em;
  font-size: var(--size-md);
  font-weight: 300;
  color: var(--color-secondary);
  strong{
    color: inherit;
    font-weight: 600;
  }
}

a {
  line-height: 1.5em;
  font-size: var(--size-md);
  font-weight: 300;
}

h2{
  font-size: var(--size-xl);
  color: var(--color-primary);
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 20px;
}

h3{
  font-size: var(--size-lg);
  font-weight: 500;
  margin-bottom: 20px;
}

/* layout & nav */
.layout {
    width: 100%;
    margin: 0 auto;
  }

.max1400{
    max-width: 1400px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  padding: 25px 60px;
  position: absolute;
  width: 100%;
  height: 120px !important;
  z-index: 50;
  background-color: transparent;
  border: 1px solid transparent;
  transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out, left 0.3s ease-in-out, border-radius 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
nav h2{
  font-size: 40px;
}
nav .links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.navBg{
  background-color: #b8d3d4a6;
  padding: 15px 30px !important;
  width: calc(100% - 60px) !important;
  height: 80px !important;
  left: 30px !important;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid #cfdede8c;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.logo a{
  padding: 0;
}

.logo img{
  height: 65px;
  width: auto;
  transition: height 0.3s ease-in-out;
}

.navBg .logo img{
  height: 44px;
}

nav button {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0px 20px;
  margin-left: 0px;
  font-family: "Cairo";
  font-weight: 500;
  border: 0px solid transparent;
  background-color: transparent;
  font-size: 20px;
  color: var(--color-secondary);
  cursor: pointer;
  text-shadow: 0px 1px 2px #dafff3;
}
nav button:hover {
  color: var(--color-primary);
}

.btn{
  background-color: var(--color-secondary);
  padding: 8px 20px 8px 8px;
  color: var(--color-accent);
  font-size: var(--size-sm);
  text-decoration: none;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: background-color 0.3s ease-in-out;
  &::before{
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    background-color: var(--color-secondary-light);
    background-image: url(../images/btn_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    border-radius: 30px;
    transform: rotate(-90deg);
    transition: transform 0.3s ease-in-out;
  }
  &:hover{
    background-color: #3b4d5d;
    &::before{
      transform: rotate(0deg);
    }
  }
}

footer p{
  text-align: center;
  color: #bbb;
  margin: 40px auto;
}

.linksNav{
  display: flex;
  flex-direction: row;
}

.cotizaBtn{
  margin-left: 50px;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--color-secondary);
  text-decoration: none;
  height: auto;
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--color-primary-light);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.cotizaBtn:hover{
  color: var(--color-accent);
}

canvas{
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: contain;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.pin-spacer{
  width: 100% !important;
}

.bgVideo{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
}

#videoHolder{
  height: 100vh;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#innerVideoHolder{
  height: auto;
  width: 100%;
  /*-webkit-mask-image:url(../images/mascara_video.png);
  -webkit-mask-position:left top;
  -webkit-mask-repeat:no-repeat;
  -webkit-mask-size:100%;

  mask-image:url(../images/mascara_video.png);
  mask-position:left top;
  mask-repeat:no-repeat;
  mask-size:100%;*/
}

#miVideo{
  width: 100% !important;
  height: 100% !important;
  position: relative;
}

footer{
  width: 100%;
  padding: 0 60px;
  margin-top: -3px;
  .column1{
    width: 100%;
    background-color: #062d2d;
    text-align: center;
    padding: 60px;
    position: relative;
    .line{
      width: calc(100% - 120px);
      height: 1px;
      background-color: var(--color-primary);
      opacity: 0.2;
      position: absolute;
      top: 0;
      left: 60px;
      display: block;
    }
    span{
      font-size: 16px;
      color: var(--color-primary-light);
    }
    a{
      font-size: 16px;
      color: var(--color-primary-light);
      &:hover{
        color: var(--color-accent);
        text-decoration: underline;
      }
    }
  }
}




/*
@media (max-width: 1700px) {
  h2{
    font-size: 38px;
  }

  h3{
    font-size: 26px;
  }

  p, a{
    font-size: 20px;
  }

  nav a{
    font-size: 17px;
    padding: 0px 10px;
  }

  .logo img{
    height: 45px;
  }

  .navBg{
    padding: 10px 30px !important;
    width: calc(100% - 180px) !important;
  }

  .navBg .logo img{
    height: 35px;
  }

  .cotizaBtn{
    margin-left: 0px;
    height: 40px;
  }

}
  */









/*  Tableta  */
@media only screen and (max-width: 1024px) {

  :root {
      /* Text sizes */
      --size-xs: 14px;
      --size-sm: 15px;
      --size-md: 18px;
      --size-lg: 24px;
      --size-xl: 30px;
      --size-2xl: 40px;
      --size-3xl: 50px;
      --size-4xl: 60px;
  }

  nav{
    width: calc(100% - 60px) !important;
    padding: 15px 30px !important;
  }

  .navBg{
    padding: 10px 30px !important;
    width: calc(100% - 120px) !important;
    left: 30px !important;
  }

  .logo img, .navBg .logo img {
      height: 45px;
  }

  .linksNav{
    position: absolute;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: #0b1818;
    top: 0;
    right: calc(-100vw - 60px);
  }

  .cotizaBtn{
    height: 40px;
  }

  nav a{
    font-size: 18px;
  }

  footer .line{
    width: calc(100% - 60px);
    left: 30px;
  }

}





/*  Móvil  */
@media only screen and (max-width: 768px) {

  :root {
      /* Text sizes */
      --size-xs: 14px;
      --size-sm: 14px;
      --size-md: 16px;
      --size-lg: 20px;
      --size-xl: 26px;
      --size-2xl: 32px;
      --size-3xl: 40px;
      --size-4xl: 60px;
  }

  #videoHolder{
    width: 100vw !important;
    height: 40vh !important;
    background-color: #032526;
  }

  #innerVideoHolder{
    width: 100%;
    height: 100%;
  }

  footer .column1{
    width: calc(100% - 60px);
    padding: 30px;
  }
  footer span, footer a{
    font-size: 14px;
    line-height: 1;
  }

}