.column2{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.colLeft{
    width: 50%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.colRight{
    width: 50%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.hero{
    width: 100%;
    height: 100vh;
    padding: 120px 60px 60px;
    position: relative;
    z-index: 0;
    .column2{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        padding-top: 0px;
        padding-bottom: 60px;
        z-index: 2;
        position: relative;
        .colLeft{
            width: 58%;
            padding-left: 60px;
            justify-content: flex-end;
            h1{
                color:#c6e5db;
                position: relative;
                z-index: 1;
                font-weight: 300;
            }
            h2{
                color: var(--color-white);
                font-size: 3.5vw;
                line-height: 1;
                position: relative;
                z-index: 1;
                strong{
                    font-weight: 400;
                    color: var(--color-accent);
                }
            }
            p{
                color: var(--color-white);
                font-size: 1.5vw;
                line-height: 1;
                position: relative;
                z-index: 1;
            }
        }
        .colRight{
            width: 42%;
            justify-content: flex-end;
            padding-right: 60px;
            padding-left: 0;
            .btnHero{
                font-size: 1.2vw;
                background-color: transparent;
                padding: 0px;
                border-radius: 80px;
                position: relative;
                display: block;
                z-index: 1;
                width: 100%;
                height: 100%;
                max-width: 200px;
                max-height: 200px;
                margin-top: 30px;
                cursor: pointer;
            }
            .btnHeroBg{
                width: 100%;
                height: 100%;
                animation-name: giraBtn;
                animation-duration: 8s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }
            .btnHeroFg{
                height: 100%;
                width: 100%;
                position: absolute;
                top:0;
                left: 0;
                padding: 15%;
            }
        }
    }
    .column1{
        position: absolute;
        width: calc(100% - 120px);
        height: calc(100% - 180px);
        top: 120px;
        left: 60px;
        z-index: 0;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 15px #000000b0;
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 60%;
            bottom:0;
            left: 0;
            display: block;
            z-index: 1;
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
        }
        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left: 0;
            display: block;
            z-index: 0;
            background-image: url(../images/gradiente.svg);
            background-size: cover;
            opacity: 0.4;
            border:0px solid #394450;
            border-radius: 20px;
            filter: brightness(1.5);
        }
        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@keyframes giraBtn {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}



/*  Nosotros */

.sectionNosotros {
    width: 100%;
    padding: 0px 60px 0px;
    position: relative;
    z-index: 1;
    .column2{
        background-color: #c6eddf;
        padding: 10% 60px;
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        box-shadow: 0px 0px 15px #00c08a78;
        .colLeft{
            justify-content: center;
        }
        .colRight{
            position: relative;
            .imagenNosotros{
                height: 70vh;
                width: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
            .imagenFloatNosotros{
                position: absolute;
                top: 10%;
                left: 0;
                width: 24%;
                height: auto;
                z-index: 1;
                filter: drop-shadow(40px 40px 20px rgba(0,0,0,0.6));
            }
            .imagenFloatNosotros2{
                position: absolute;
                bottom: 6%;
                right: 0%;
                width: 18%;
                height: auto;
                z-index: 1;
                transform: rotate(-90deg);
                filter: drop-shadow(-20px -20px 15px rgba(0,0,0,0.6));
            }
        }
    }
}



/*  Diferenciadores */

.diferenciadores{
    width: auto;
    padding: 0 60px;
    position: relative;
    z-index: 0;
    margin-top: -3px;
    .column2{
        width: 100%;
        height: auto;
        padding: 10% 60px;
        border-radius: 0px 0px 20px 20px;
        position: relative;
        background-color: #d4fff0;
        box-shadow: 0px 0px 15px #00c08a78;
        .colLeft{
            width: 50%;
            padding-left: 0%;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            .diferenciador__wrapper{
                display: grid;
                grid-template-columns: repeat(2, 2fr);
                grid-template-rows: auto;
                grid-gap: 40px;
                .diferenciador{
                    position: relative;
                    background-color: var(--color-secondary);
                    width: 100%;
                    aspect-ratio: 3/2;
                    border-radius: 20px;
                    padding: 5%;
                    p{
                        color: var(--color-primary-light);
                        margin: 0px;
                    }
                }
            }
        }
        .colRight{
            position: relative;
            justify-content: center;
        }
    }
}



/*  Divisor */

.divisor{
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 60px 60px 0px;
    /*background: rgb(3,37,38);
    background: linear-gradient(0deg, rgba(3,37,38,1) 20%, rgba(222,232,229,1) 80%);*/
    .imagenDivisor{
        border-radius: 20px;
        overflow: hidden;
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }
}



/*  Industrias */

.industrias{
    width: 100%;
    padding: 60px 60px 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 0;
    margin-top: -3px;
    .titulos__industrias{
        position: relative;
        display: block;
        width: 100%;
        padding: 60px;
        border-radius: 20px 20px 0px 0px !important;
        margin-top: 0 !important;
        h2{
            color: var(--color-primary-light);
        }
        p{
            color: var(--color-white);
        }
    }
    .column1{
        background-color: var(--color-secondary);
        padding: 60px;
        border-radius: 0px 0px 20px 20px;
        margin-top: -3px;
        .listadoIndustrias{
            display: grid;
            grid-template-columns: repeat(6, 6fr);
            grid-gap: 50px;
            .industria{
                width: 100%;
                grid-column: span 2;
                background-color: var(--color-white);
                border-radius: 20px;
                padding: 5%;
                aspect-ratio: 3/2;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                box-shadow: 0px 3px 8px #00c08ab0;
                img{
                    width: 80px;
                    aspect-ratio: 1/1;
                    background-color: #0c2425;
                    border-radius: 10px;
                    padding: 10px;
                }
                &:nth-child(2){
                    background-color: var(--color-primary);
                    h3{
                        color: var(--color-primary-light);
                    }
                    p{
                        color: var(--color-white); 
                    }
                }
                &:nth-child(3){
                    background-color: var(--color-primary-light);
                    h3{
                        color: var(--color-secondary);
                    }
                }
                &:nth-child(4){
                    background-color: var(--color-primary-light);
                    grid-column-start: 2;
                    grid-column-end: 4;
                    h3{
                        color: var(--color-primary-dark);
                    }
                }
                &:nth-child(5){
                    grid-column-start: 4;
                    grid-column-end: 6;
                }
            }
        }
    }
}





/*  Soluciones */

.sectionSolucionesTop{
    margin-top: -3px;
    padding: 0px 60px;
    position: relative;
    z-index: 1;
    
    .column2{
        .colLeft{
            width: 35%;
            justify-content: stretch;
            padding-right: 30px;
            .solucionTopBloque{
                background-color: #ecfaf6;
                width: 100%;
                padding: 60px;
                border-radius: 20px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                img{
                    width: 80px;
                    aspect-ratio: 1/1;
                    background-color: #122e2e;
                    border-radius: 10px;
                    padding: 10px;
                }
            }
        }
        .colRight{
            width: 65%;
            padding-left: 30px;
            .imagenSolucion{
                width: 100%;
                height: 80vh;
                object-fit: cover;
                border-radius: 20px;
                transform: scale(0.5);
                opacity: 0;
                transform-origin: top right;
            }
        }
    }
}





.sectionSoluciones{
    margin-top: -3px;
    height: auto;
    /*padding-right: 120px;*/
    position: relative;
    z-index: 0;
    padding: 60px 60px 0px;
    .column2{
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        padding-right: 60px;
        .colLeft{
            position: relative;
            z-index: 1;
            width: 50%;
            padding-right: 0%;
            .pin-spacer{
                width: 100%;
            }
        }
        .colRight{
            position: relative;
            z-index: 1;
            width: 50%;
            padding-right: 60px;
            h3{
                color: var(--color-white);
                font-weight: 400;
                
            }
            p{
                color: var(--color-white);
                font-size: var(--size-md);
            }
            .solucion1{
                padding-top: 0%;
            }
            .solucion1, .solucion2, .solucion3{
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .solucionesNumero{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                span{
                    background-color: #00c08b;
                    font-size: 2vw;
                    color:#0c2425;
                    width: 2.5vw;
                    height: 2.5vw;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;
                    font-weight: 600;
                }
            }
            .acordeon{
                width: 100%;
            }
        }
    }
}


/*  Acordeón generales  */

.acordeonContent {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.acordeonContent.expanded {
    height: auto; /* Esto se ajustará dinámicamente al contenido */
    opacity: 1;
}

.acordeonBody{
    width: 100%;
    border-bottom: 1px solid var(--color-primary);
    .acordeonTitle{
        width: 100%;
        background-color: transparent;
        border: 0px;
        cursor: pointer;
        text-align: left;
        font-size: var(--size-md);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: var(--color-primary-light);
        font-family: "Cairo";
        .acordeonArrow{
            transition: transform 0.2s ease-in-out;
            transform: rotate(0deg);
            transform-origin: center center;
            width: 50px;
            height: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-size: 2vw;
            line-height: 1;
            font-weight: 200;
        }
    }
    &.collapsed{
        .acordeonContent{
            height: auto;
            max-height: 0px;
            opacity: 0;
        }
    } 
    &.uncollapsed{
        .acordeonTitle{
            color: var(--color-accent);
            .acordeonArrow{
                transform: rotate(45deg);
            }
        }
        
        .acordeonContent{
            height: auto;
            max-height: 500px;
            opacity: 1;
        }
    }
    .acordeonContent{
        width: 100%;
        overflow: hidden;
        transition: 0.5s ease-out !important;
        p{
            font-size: var(--size-sm) !important;
            opacity: 0.8;
            strong{
                color: inherit;
                font-weight: 600;
            }
        }
    }
}



/*    Q & A    */

.sectionQA{
    width: 100%;
    padding: 60px 60px;
    .column2{
        background-color: #ebf0ef;
        padding: 60px;
        border-radius: 20px;
        .colLeft{
            width: 60%;
            padding-right: 5%;
            justify-content: center;
            h2{
                color: var(--color-secondary);
            }
            .acordeonBody{
                .acordeonTitle{
                    color: var(--color-primary);
                    font-size: var(--size-md);
                    height: 90px;
                }
                .acordeonContent{
                    p{
                        opacity: 1;
                        font-size: var(--size-md) !important;
                        font-weight: 400;
                    }
                }
            }
        }
        .colRight{
            width: 40%;
            .imagen__qa{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 20px;
            }
            
                
            
        }
    }
}


/*  Contacto */

.sectionContacto {
    width: 100%;
    padding: 0px 60px;
    .column2{
        width: 100%;
        background-color: #062d2d;
        padding: 60px 60px;
        border-radius: 20px 20px 0px 0px;
        .colLeft{
            width: 55%;
            padding-right: 0;
            .contactoLeft{
                display: flex;
                flex-direction: row;
                justify-content: stretch;
                height: 100%;
                gap:60px;
                padding-right: 30px;
                width: 100%;
                .contactoLeftA{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 40px 60px;
                    width: 75%;
                    background-color: #0d3834;
                    border-radius: 20px;
                    h2{
                        color: var(--color-primary-light);
                    }
                    p{
                        color:#c6e5db;
                    }
                    ul{
                        li{
                            color: var(--color-primary-light);
                            list-style: none;
                            a{
                                color: var(--color-white);
                                font-weight: 300;
                                text-decoration: none;
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }
                .contactoLeftB{
                    display: flex;
                    flex-direction: column;
                    justify-content: stretch;
                    padding-left: 0px;
                    width: 25%;
                    gap: 30px;
                    a{
                        background-color: #0d3834;
                        height: 100%;
                        width: 100%;
                        border-radius: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        padding: 20px;
                        transition: background-color 0.3s ease-in-out;
                        &:hover{
                            background-color: #114540;
                        }
                        .socialIcon{
                            width:50%;
                            height:auto;
                            max-width: 90px;
                        }
                    }
                }
            }
        }
        .colRight{
            padding-left: 30px;
            width: 45%;
            justify-content: stretch;
            form{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2, 2fr);
                grid-template-rows: auto;
                grid-column-gap: 30px;
                grid-row-gap: 20px;
                label{
                    font-size: var(--size-sm);
                    color: var(--color-primary-light);
                    input, textarea{
                        grid-column: span 1;
                        width: 100%;
                        background-color: var(--color-secondary-light);
                        color: var(--color-secondary);
                        padding: 5px 14px;
                        border:1px solid #061718;
                        border-radius: 7px;
                        font-size: var(--size-sm);
                        line-height: 1;
                        font-family: "Cairo";
                        &:focus{
                            outline: none;
                            border-color: var(--color-accent);
                        }
                    }
                    &:nth-child(7){
                        grid-column: span 2;
                        width: 100%;

                    }
                    textarea{

                    }
                }
                button{
                    font-family: "Cairo";
                    font-size: var(--size-sm);
                    grid-column: span 2;
                    width: 100%;
                    background-color: var(--color-primary-light);
                    border:0px;
                    padding: 6px 20px;
                    border-radius: 10px;
                    color: var(--color-secondary);
                    transition: background-color 0.3s ease-in-out;
                    &:hover{
                        background-color: var(--color-accent);
                    }
                }
            }
        }
    }
}












/*

@media (max-width: 1920px) {
    .diferenciador{
        height: 200px;
    }

    .industria{
        min-height: 300px;
    }
}






@media (max-width: 1700px) {

    .diferenciador{
        height: 200px;
    }

    .diferenciador p{
        font-size: 20px;
    }

    .listadoIndustrias h3{
        font-size: 26px;
    }

    .listadoIndustrias p{
        font-size: 20px;
    }

    .sectionSoluciones h3{
        font-size: 34px;
        
    }
    
    .sectionSoluciones p{
        font-size: 18px;
    }

    .solucionesNumero span{
        font-size: 28px !important;
    }

    .sectionNosotros h3{
        font-size: 26px;;
    }

    .contactoLeftA p, .contactoLeftA li, .contactoLeftA a{
        font-size: 20px;
    }

    .sectionContacto input{
        font-size: 18px;;
    }

    .sectionContacto textarea{
        font-size: 18px;
    }

    .sectionContacto button{
        font-size: 20px;
    }

    .sectionContacto .contactoLeft{
        flex-direction: column;
    }

    .sectionContacto .contactoLeftA{
        width: calc(100% - 120px);
    }

    .sectionContacto .contactoLeftB{
        padding-left: 0px;
        width: 100%;
        flex-direction: row;
    }

    .sectionContacto .contactoLeftB a{
        height: auto;
    }

    .sectionContacto .contactoLeftB a img{
        max-width: 50px;
    }

}



*/



@media (max-width: 1024px) {
    
    
}









@media (max-width: 768px) {
    .hero{
        height: 60vh;
    }

    .imagenDivisor{
        height: 50vh;
    }

    .diferenciador{
        height: 180px;
    }

    .listadoIndustrias{
        width: calc(100% - 60px) !important;
        padding: 30px 30px !important;
    }

    .industria{
        width: calc(50% - 75px);
    }

    .sectionSolucionesTop .column2{
        flex-direction: column-reverse;
    }

    .sectionSolucionesTop .colLeft{
        width: calc(100% - 60px);
    }

    .sectionSolucionesTop .colRight{
        width: calc(100% - 60px);
        padding: 0 30px 30px;
    }

    .sectionSolucionesTop .imagenSolucion{
        height: 50vh;
    }

    .sectionSoluciones{
        padding-right: 0px;
    }

    .sectionSoluciones .column2{
        flex-direction: column;
    }

    .sectionSoluciones .colLeft{
        height: 50vh;
        width: 100vw;
    }

    .sectionSoluciones .colRight{
        width: calc(100% - 60px);
        padding: 0 30px;
    }

    .solucionesNumero span{
        width: 40px;
        height: 40px;
    }

    .sectionNosotros .column2{
        flex-direction: column;
    }

    .sectionNosotros .colLeft{
        width: 100%;
        padding: 0px 0px 30px;
    }

    .sectionNosotros .colRight{
        width: 100%;
        padding: 0px 0px 0px;
    }

    .imagenNosotros{
        height: 50vh;
    }

    .sectionContacto .column2{
        flex-direction: column;
    }

    .sectionContacto .colLeft{
        width: 100%;
        padding-right: 0px;
    }

    .sectionContacto .colRight{
        width: 100%;
        padding: 30px 0px;
    }

    .form2col{
        flex-direction: row;
        width: calc(100% - 0px);
    }

    .form2col input:first-child{
        margin-right: 7px;
    }
    
    .form2col input:last-child{
        margin-left: 7px;
    }
}




@media (max-width: 650px) {

    .hero{
        height: auto;
    }

    .hero .column1{
        flex-direction: column-reverse;
        width: calc(100% - 60px);
        padding-top: 100px;
    }

    .videoHero{
        position: relative;
        left: 0px;
        width: 100% !important;
        height: 100%;
        padding: 0px;
        top:0;
        border-radius: 20px 20px 0px 0px !important;
    }

    .videoHero::after{
        border-radius: 20px 20px 0px 0px !important;
    }

    .videoHero video{
        border-radius: 20px 20px 0px 0px !important;
    }

    .hero .column1 > div:first-child{
        padding-left:0px;
        width: calc(100% - 30px);
        padding: 15px 15px;
        margin-top: 0px;
        background-color: #043637;
        border-radius: 0px 0px 20px 20px;
    }

    .hero h1{
        font-size: 16px;
        line-height: 1.4;;
    }

    .hero h2{
        font-size: 26px;
        margin-top: 10px;
    }

    .btnHero{
        max-width: 80px;
        max-height: 80px;
        margin: 10px auto 0px;
    }

    .diferenciadores{
        padding: 15% 30px 10%;
    }

    .diferenciadores .column2{
        flex-direction: column;
        width: 100%;
        padding-left: 0px;
    }

    .diferenciadores .colLeft{
        width: 100%;
        padding-right: 0px;
        padding-bottom: 30px;
    }

    .diferenciadores .colRight{
        width: 100%;
        gap: 30px;
    }

    .diferenciador{
        margin: 0px !important;
        width: calc(50% - 55px);
    }

    .imagenDivisor{
        height: 40vh;
    }

    .industria{
        width: 100%;
    }

    .listadoIndustrias{
        padding: 0px 30px 30px !important;
    }

    .sectionSoluciones h3{
        font-size: 24px;
    }

    .solucionesNumero span{
        font-size: 20px !important;
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }

    .imagenNosotros{
        height: 40vh;
    }

    .sectionContacto .contactoLeft{
        flex-direction: column;
    }

    .contactoLeftA{
        width: calc(100% - 60px);
    }

    .contactoLeftB{
        flex-direction: row;
        width: 100%;
    }

    .socialIcon{
        max-width: 40px !important;
    }

    .form2col{
        flex-direction: column;
        width: calc(100% - 0px);
    }

    .form2col input:first-child{
        margin-right: 0px;
    }
    
    .form2col input:last-child{
        margin-left: 0px;
    }
}